/* color naming generator http://chir.ag/projects/name-that-color */

:root {
    --white-lilac: #f9f9fd;
    --silver: #c0c0c0;
    --white: #ffffff;
    --dodger-blue: #1e90ff;
    --jack-black: #010101
}