@import './colors.css';
@import './fonts.css';

/*null style for all browser*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: var(--font-size-m);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: var(--font-weight-regular);
}

/*--------------------*/

body {
    background: var(--white-lilac);
    font-family: var(--font-primary);
}

.wrapper {
    padding: 1.25em 1.875em;
}

.navBar {
    display: flex;
    flex-direction: column-reverse;
}

.logo {
    margin-top: 1.25em;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 5em;
    height: 5em;
}

nav {
    display: flex;
    justify-content: center;
}

.navBar_item {
    padding: 0 0.1875em;
    border-right: 0.0625em solid var(--silver);
    font-size: var(--font-size-s);
}

.navBar_item:last-of-type {
    border-right: none;
}

a {
    text-decoration: underline;
    color: var(--dodger-blue);
}

.navBar_item img {
    display: none;
}


header {
    padding: 0.625em;
    background: var(--white);
    border-radius: 0.25em;
    margin: 1.25em 0;
    -webkit-box-shadow: 0 1.1875em 2.375em var(--silver), 0 0.5625em 0.75em var(--silver);
    -moz-box-shadow: 0 1.1875em 2.375em var(--silver), 0 0.5625em 0.75em  var(--silver);
    box-shadow: 0 1.1875em 2.375em var(--silver), 0 0.5625em 0.75em  var(--silver);
}

h1 {
    font-weight: var(--font-weight-higher-regular);
    font-size: var(--font-size-1xl);
    margin-bottom: 0.416666667em;
}

header > span {
    font-size: var(--font-size-s);
    font-family: var(--font-secondary);
}

.email_container {
    display: flex;
    align-items: center;
    margin-top: 0.625em;
}

.email {
    border: 0.153846154em solid var(--silver);
    border-radius: 0.25em 0 0 0.25em;
    flex-basis: 65%;
    font-size: var(--font-size-xs);
}

.subscribe {
    border: 0.153846154em solid var(--silver);
    flex-basis: 35%;
    border-radius: 0 0.25em 0.25em 0;
    font-size: var(--font-size-xs);
}

section > div {
    margin: 1.25em 0;
    border-radius: 0.25em;
    background: var(--white);
    -webkit-box-shadow: 0 1.1875em 2.375em var(--silver), 0 0.5625em 0.75em  var(--silver);
    -moz-box-shadow: 0 1.1875em 2.375em var(--silver), 0 0.5625em 0.75em  var(--silver);
    box-shadow: 0 1.1875em 2.375em var(--silver), 0 0.5625em 0.75em  var(--silver);
}

h2 {
    font-size: var(--font-size-xl);
    margin-bottom: 0.5em;
}

.information_block {
    padding: 0.625em;
}

.information_block span {
    font-family: var(--font-secondary);
    font-size: var(--font-size-s);
}

footer {
    border-top: 0.0625em solid var(--silver);
}

footer > div {
    margin-top: 1.25em;
}

.service_linc > a {
    display: inline-block;
    padding-right: 0.25em;
    border-right: 0.0625em solid var(--silver);
    font-size: var(--font-size-s);
}

.service_linc a:last-of-type {
    border-right: none;
}

.license {
    margin-top: 0.625em;
    font-size: var(--font-size-xs);
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social img {
    margin-left: 0.625em;
    width: 1.25em;
    height: 1.25em;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
}

.logo img:hover {
    -webkit-animation: shake 2s linear alternate infinite;
    animation: shake 2s linear alternate infinite;
}

@-webkit-keyframes shake {
    50% {
        -webkit-transform: translateX(-6.25em) scale(1.2) rotateZ(20deg);

    }
    100% {
        -webkit-transform: translateX(6.25em) scale(0.7);
    }
}
@keyframes shake {
    50% {
        transform: translateX(-6.25em) scale(1.2) rotateZ(20deg);
    }
    100% {
        transform: translateX(6.25em) scale(0.7);
    }
}